:root {
  --color-bg-main: #f9f8f6;
  --color-bg-widget: #ffffff;
  --color-primary: #355326;
  --color-secondary: #7c9982;

  /* Typography */
  --color-text-main: #23301a;
  --colot-text-muted: #b39d96;
  --color-border: #e7caa9;

  /* Status Colors */
  --color-water: #7393A7;
  --color-fertilize: #C47D5E;
  --color-alert: #994B45;
  --color-hover: #558976;

  --font-main: sans-serif;
  --font-mono: monospace;
}

body.dark-theme {
  --color-bg-main: #1a2016;
  --color-bg-widget: #222b1e;
  --color-primary: #7c9982;
  --color-secondary: #355326;

  --color-text-main: #f9f8f6;
  --color-text-muted: #b39d96;

  --color-border: #355326;
}

* {
  box-sizing: border-box;
}

/* Basics */
body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-size: 15px;
  overflow: hidden;
}

main {
  background-color: var(--color-bg-widget, #ffffff);
  height: 100vh;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.header {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 0.2rem 0.4rem;
  color: var(--color-bg-main);

  font-family: var(--font-mono);
  font-weight: bold;
}

.header-btn {
  background: transparent;
  border: none;

  cursor: pointer;
  -webkit-app-region: no-drag;
}

.header-btn svg {
  width: 18px;
  height: 18px;
  fill: var(--color-bg-main);
  transition: fill 0.2s ease;
  /* Makes the hover effect smooth */
}

.header-btn:hover svg {
  fill: var(--color-hover);
}

.content {
  display: flex;
  flex: 1;

}


/* SIDEBAR */
.sidebar {
  width: 10%;
  min-width: 20px;
  background-color: var(--color-bg-main, #f4f4f4);
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;

  .sidebar-menu {
    display: flex;
    flex-direction: column;

  }

  .sidebar-btn {
    background: transparent;
    border: none;

    cursor: pointer;
    -webkit-app-region: no-drag;

  }

  .sidebar-btn svg {
    height: 16px;
    width: 16px;
    fill: var(--color-text-muted, #b39d96);
    transition: fill 0.2s ease;
  }

  .sidebar-btn:hover svg {
    fill: var(--color-secondary);
  }
}



.calendar {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.3rem;

  .month-header {
    background-color: transparent;
    color: var(--color-text-main);
    border-bottom: 1px solid var(--color-border);

    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;

    user-select: none;

    .nav-btn {
      background: none;
      border: none;
    }

    .nav-btn svg {
      height: 18px;
      width: 18px;
      fill: var(--color-text-main);
      transition: fill 0.2s ease;
    }

    .nav-btn svg:hover {
      fill: var(--color-water);
      cursor: pointer;
    }
  }

  .calendar-content {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;

    user-select: none;



    .week-days-header {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;

      justify-items: center;

      margin-bottom: 10px;
      font-weight: bold;
      font-size: 0.85rem;
      color: var(--color-text-muted);
    }

    .calendar-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: 1fr;
      flex: 1;
      height: 100%;
      gap: 5px;
    }

    .calendar-day {
      display: flex;

      background-color: var(--color-bg-main);
      border-radius: 8px;
      cursor: pointer;
      color: var(--color-text-main);
      font-size: 0.9rem;
      transition: all 0.2s ease;
      align-items: center;
      justify-content: center;
    }

    .calendar-day:hover {
      background-color: var(--color-secondary);
    }

    .empty-day {
      background-color: transparent;
      pointer-events: none;
    }

    .water-day {
      background-color: var(--color-water);
    }

    .fertilize-day {
      background-color: var(--color-fertilize);
    }
  }
}