:root {
  /* Primary Brand Colors */
  --color-primary: #4CAF50;
  /* Classic Plant Green */
  --color-secondary: #81C784;
  /* Lighter Green for accents */

  /* Backgrounds & Surfaces */
  --color-bg-main: #F4F6F4;
  /* Off-white for the main dashboard */
  --color-bg-widget: rgba(255, 255, 255, 0.85);
  /* Slightly transparent for the widget */

  /* Typography */
  --color-text-main: #2E332E;
  /* Dark grey for readable text */
  --color-text-muted: #7A827A;
  /* Lighter grey for dates/notes */
  --color-border: #ddd;

  /* Status Colors */
  --color-water: #4FC3F7;
  /* Blue for watering days */
  --color-fertilize: #FFB74D;
  /* Orange for fertilizing */

  --red: #ff5252;
}

/* Basics */
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 15px;
}

button {
  font-family: 'Courier New', Courier, monospace;
}

main {
  background-color: var(--color-bg-widget, #ffffff);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 0.2rem 0.4rem;
  color: var(--color-bg-main);
}

.header-btn {
  background: transparent;
  border: none;
  color: var(--color-bg-main);

  cursor: pointer;
}

.header-btn:hover {
  color: var(--red);
}

.content {
  display: flex;
  flex: 1;

}

/* SIDEBAR */
.side-bar {
  width: 10%;
  background-color: var(--color-bg-main, #f4f4f4);
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.calendar {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.3rem;

  .month-header {
    background-color: transparent;
    color: var(--color-text-main);
    border-bottom: 1px solid var(--color-border);

    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    .nav-btn {
      background: none;
      border: none;
      color: var(--color-text-main);
    }
    
    .nav-btn:hover { 
      color: var(--color-water);
    }
  }

  
  .calendar-content {
    display: flex;
    flex-direction: column;

    .week-days-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }

    .calendar-grid {
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: dodgerblue;
    }
  }
}