body {
    background-color: transparent;
}

.widget-container {

    background-color: var(--color-bg-widget);

    height: 100vh;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.drag-region {
    height: 40px;
    background-color: var(--color-primary)
        /* Plant green */
    ;
    color: white;
    display: flex;

    justify-content: space-between;

    align-items: center;
    align-content: center;
    padding: 0 15px;

    user-select: none;
    /* Prevent the text hihglighting when try to drag */
    cursor: grab;
    /* change the cursor icon */
}

.drag-region:active {
    cursor: grabbing;
}

/* smth for tauri */
.drag-region * {
    pointer-events: none;
}


/* HEADER CLOSE BUTTON */
.header-btn {
    background: transparent;
    border: none;
    color: var(--color-bg-main);
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    /* Pushes the button to the far right */

    /* CRITICAL: Prevents the button from acting as a drag handle */
    -webkit-app-region: no-drag;

    /* CRITICAL: Overrides the pointer-events: none we set on the drag-region children earlier */
    pointer-events: auto;
}

.header-btn:hover {
    color: #ff5252;
    /* Turns red on hover */
}

.calendar-header {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;

}

.calendar-grid-days-of-week{
    display: flex;
    flex-direction: column-reverse;
}